
    <h1>You Reached HomeBase</h1>
    <form action="" method="post">
        <select name="tags" id="tags">
            <% for(let i=0; i<tag.length; i++){ %>
                <option value=<%= tag[i].tag %>><%= tag[i].tag %></option>
            <% } %>
        </select><br>
        <input type="submit" value="Submit">
    </form>

    <button><a href="/add">Add Info</a></button><br>
    <button><a href="/tag">Add Tag</a></button>



    <table>
        <thead>
            <tr>
                <th>Artist</th>
                <th>Song</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            <% for( let i=0; i<list.length; i++) { %>
            <tr>
                <td><%= list[i].artist %></td>
                <td><%= list[i].song %></td>
                <td><%= list[i].tag %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

  
